*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
    width: 100% ;
    background-color: #66CDAA ;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}
.xbox_vs_playstation{
    width: 100%;

}
.definição-item{
    font-size: 24px;
    display: flex;
    justify-content:center;
}
.Playstation{
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.definição-item2{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.bola{
    display: flex;
    justify-content: center;
 width: 50%;
}